force-app/main/default/flows/Contract_Fields_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Contract_Decision_Note</name>
        <label>Contract Decision Note</label>
        <locationX>399</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_on_Contract_is_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_fields_on_contract</targetReference>
            </connector>
            <label>Order on Contract is Not null</label>
        </rules>
    </decisions>
    <description>Update contract bill to account and contact, Legal entity from originating Order</description>
    <environments>Default</environments>
    <interviewLabel>Contract Fields Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Fields Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_fields_on_contract</name>
        <label>Update fields on contract</label>
        <locationX>80</locationX>
        <locationY>143</locationY>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.blng__BillingAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.BillToContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Edition__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Edition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Entity__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Legal_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Contract_Decision_Note</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
