force-app/main/default/flows/Create_Quote_Edition_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Quote_Condition_Decision</name>
        <label>Quote Condition Decision</label>
        <locationX>723</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DefaultEditionNot_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Default_Edition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Default_Edition__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Edition__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote_edition</targetReference>
            </connector>
            <label>DefaultEditionNot Empty</label>
        </rules>
    </decisions>
    <description>Create the Quote Edition record for the Default edition from the Opportunity, set the Default Edition (Quote Edition) on the Quote and Set the Edition(Event Edition) on the Quote for whom the products will be searched and displayed.  &amp; Copy the legal entity  from the opportunity and paste it to the created quote (new or amendment)</description>
    <environments>Default</environments>
    <interviewLabel>Create Quote Edition Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Edition Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_edition</name>
        <label>Create Quote edition</label>
        <locationX>863</locationX>
        <locationY>420</locationY>
        <assignRecordIdToReference>QuoteEditionId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateQuote</targetReference>
        </connector>
        <inputAssignments>
            <field>Edition__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Default_Edition__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Default_Edition__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote_Edition__c</object>
    </recordCreates>
    <recordUpdates>
        <name>UpdateQuote</name>
        <label>UpdateQuote</label>
        <locationX>301</locationX>
        <locationY>402</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Default_Quote_Edition__c</field>
            <value>
                <elementReference>QuoteEditionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Edition__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Default_Edition__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Entity__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Legal_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Quote_Condition_Decision</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteEditionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
