force-app/main/default/flows/Select_Email_Template_for_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <dynamicChoiceSets>
        <name>templates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Select Email Template for Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Campaigns</name>
        <label>Get Campaigns</label>
        <locationX>72</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Email_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email_Template_Id_on_Campaign</name>
        <label>Update Email Template Id on Campaign</label>
        <locationX>458</locationX>
        <locationY>236</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Start_Date__c</field>
            <value>
                <elementReference>Email_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Id__c</field>
            <value>
                <elementReference>Select_Email_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>Frequency_In_Days</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <screens>
        <name>Select_Email_Templates</name>
        <label>Select Email Templates</label>
        <locationX>266</locationX>
        <locationY>244</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Email_Template_Id_on_Campaign</targetReference>
        </connector>
        <fields>
            <name>Email_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Campaigns.Email_Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Email Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Frequency_In_Days</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Campaigns.Frequency__c</elementReference>
            </defaultValue>
            <fieldText>Frequency(In Days)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Frequency should be greater than 0&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Frequency_In_Days} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Select_Email_Template</name>
            <choiceReferences>templates</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Campaigns.Email_Template_Id__c</elementReference>
            </defaultValue>
            <fieldText>Select Email Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
