force-app/main/default/flows/Sent_Mass_Email_to_Campaign_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Apex</name>
        <label>Call Apex</label>
        <locationX>885</locationX>
        <locationY>412</locationY>
        <actionName>EmailAllCampaignMembersCtrl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>campaignIds</name>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Campaign_in_the_list</name>
        <label>Assign Campaign in the list</label>
        <locationX>550</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>campaignId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Campaign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_loop_runs</name>
        <label>Check if loop runs</label>
        <locationX>623</locationX>
        <locationY>404</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_loop_runs_once</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Apex</targetReference>
            </connector>
            <label>Check loop runs once</label>
        </rules>
    </decisions>
    <interviewLabel>Sent Mass Email to Campaign Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sent Mass Email to Campaign Members</label>
    <loops>
        <name>Loop_All_Campaign</name>
        <label>Loop All Campaign</label>
        <locationX>295</locationX>
        <locationY>311</locationY>
        <collectionReference>Get_Campaign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Campaign_in_the_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_loop_runs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>168</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Campaign</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Next_Email_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-23</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SetTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
