force-app/main/default/flows/Share_All_Data_With_Chosen_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Created_Record</name>
        <label>Open Created Record</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <actionName>c:imccOpenRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Label.Invite_Team_Member_Success_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CreatedCEMID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Updated_Record</name>
        <label>Open Updated Record</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>c:imccOpenRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Label.Invite_Team_Member_Success_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Existing_Inactive_CEM.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_for_Inactive_CEM</name>
        <label>Check for Inactive CEM</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_CEM_with_chosen_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has NO Inactive CEM</defaultConnectorLabel>
        <rules>
            <name>Has_Inactive_CEM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Inactive_CEM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Existing_CEM</targetReference>
            </connector>
            <label>Has Inactive CEM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Contact_has_Existing_CEM</name>
        <label>Check Whether Contact has Existing CEM</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Inactive_CEM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has no CEM</defaultConnectorLabel>
        <rules>
            <name>Has_CEM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_CEM_for_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error_Message</targetReference>
            </connector>
            <label>Has CEM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Share All Data With Chosen Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share All Data With Chosen Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CEM_with_chosen_Contact</name>
        <label>Create CEM with chosen Contact</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>CreatedCEMID</assignRecordIdToReference>
        <connector>
            <targetReference>Open_Created_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Access_Type__c</field>
            <value>
                <elementReference>Get_CEM_Details.Access_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_CEM_Details.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Edition__c</field>
            <value>
                <elementReference>Get_CEM_Details.Edition__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feathr_Unique_Link__c</field>
            <value>
                <elementReference>Get_CEM_Details.Feathr_Unique_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_Edition_Mapping__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isSecondary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Edition_Mapping__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_CEM_Details</name>
        <label>Get CEM Details</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_CEM_for_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Edition_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_CEM_for_Contact</name>
        <label>Get Existing CEM for Contact</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Whether_Contact_has_Existing_CEM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CEM_Details.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Edition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CEM_Details.Edition__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Relationship_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Edition_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Inactive_CEM</name>
        <label>Get Existing Inactive CEM</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Inactive_CEM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CEM_Details.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Edition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CEM_Details.Edition__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Relationship_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Edition_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Existing_CEM</name>
        <label>Activate Existing CEM</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Open_Updated_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Inactive_CEM.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access_Type__c</field>
            <value>
                <elementReference>Get_CEM_Details.Access_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feathr_Unique_Link__c</field>
            <value>
                <elementReference>Get_CEM_Details.Feathr_Unique_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_Edition_Mapping__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isSecondary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact_Edition_Mapping__c</object>
    </recordUpdates>
    <screens>
        <name>Assign_All_Data_to_chosen_Contact</name>
        <label>Assign All Data to chosen Contact</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_CEM_Details</targetReference>
        </connector>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact_Edition_Mapping__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <fields>
            <name>AddError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(224, 14, 14);&quot;&gt;Contact Edition Mapping already Exist for this Contact.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_All_Data_to_chosen_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedCEMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
