force-app/main/default/flows/Trigger_Assignment_Rule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>AMS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Dubai</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>LNDN</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>CAIRO</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>Turkey</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Saudi</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Case Assignment does not work on Offline Chat</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISPICKVAL([Case].Origin, &apos;Web&apos;) || ISPICKVAL([Case].Origin, &apos;Missed Chat&apos;)  || ISPICKVAL([Case].Origin, &apos;Email&apos;))  &amp;&amp; ([Case].Owner:User.FirstName = &apos;IM&apos;) &amp;&amp;  ISPICKVAL([Case].Support_Type__c,&apos;&apos;) &amp;&amp; [Case].Customer_Services_Team__c  = &apos;AMS CS Team&apos; &amp;&amp; ISPICKVAL([Case].Status, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE([Case].Status) = &apos;On Hold&apos;)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(ISPICKVAL({!myVariable_current.Origin}, &apos;Web&apos;) || ISPICKVAL({!myVariable_current.Origin}, &apos;Missed Chat&apos;)  || ISPICKVAL({!myVariable_current.Origin}, &apos;Email&apos;))  &amp;&amp; ({!myVariable_current.Owner:User.FirstName} = &apos;IM&apos;) &amp;&amp;  ISPICKVAL({!myVariable_current.Support_Type__c},&apos;&apos;) &amp;&amp; {!myVariable_current.Customer_Services_Team__c}  = &apos;AMS CS Team&apos; &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE({!myVariable_current.Status}) = &apos;On Hold&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
(ISPICKVAL([Case].Origin, &apos;Web&apos;) || ISPICKVAL([Case].Origin, &apos;Missed Chat&apos;)  || ISPICKVAL([Case].Origin, &apos;Email&apos;))  &amp;&amp; ([Case].Owner:User.FirstName = &apos;IM&apos;) &amp;&amp;  ISPICKVAL([Case].Support_Type__c,&apos;&apos;) &amp;&amp; [Case].Customer_Services_Team__c  = &apos;Dubai CS Team&apos; &amp;&amp; ISPICKVAL([Case].Status, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE([Case].Status) = &apos;On Hold&apos;)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>
(ISPICKVAL({!myVariable_current.Origin}, &apos;Web&apos;) || ISPICKVAL({!myVariable_current.Origin}, &apos;Missed Chat&apos;)  || ISPICKVAL({!myVariable_current.Origin}, &apos;Email&apos;))  &amp;&amp; ({!myVariable_current.Owner:User.FirstName} = &apos;IM&apos;) &amp;&amp;  ISPICKVAL({!myVariable_current.Support_Type__c},&apos;&apos;) &amp;&amp; {!myVariable_current.Customer_Services_Team__c}  = &apos;Dubai CS Team&apos; &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE({!myVariable_current.Status}) = &apos;On Hold&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISPICKVAL([Case].Origin, &apos;Web&apos;) || ISPICKVAL([Case].Origin, &apos;Missed Chat&apos;)  || ISPICKVAL([Case].Origin, &apos;Email&apos;))  &amp;&amp; ([Case].Owner:User.FirstName = &apos;IM&apos;) &amp;&amp;  ISPICKVAL([Case].Support_Type__c,&apos;&apos;) &amp;&amp; [Case].Customer_Services_Team__c  = &apos;AMS CS Team&apos; &amp;&amp; ISPICKVAL([Case].Status, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE([Case].Status) = &apos;On Hold&apos;)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(ISPICKVAL({!myVariable_old.Origin}, &apos;Web&apos;) || ISPICKVAL({!myVariable_old.Origin}, &apos;Missed Chat&apos;)  || ISPICKVAL({!myVariable_old.Origin}, &apos;Email&apos;))  &amp;&amp; ({!myVariable_old.Owner:User.FirstName} = &apos;IM&apos;) &amp;&amp;  ISPICKVAL({!myVariable_old.Support_Type__c},&apos;&apos;) &amp;&amp; {!myVariable_old.Customer_Services_Team__c}  = &apos;AMS CS Team&apos; &amp;&amp; ISPICKVAL({!myVariable_old.Status}, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE({!myVariable_old.Status}) = &apos;On Hold&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISPICKVAL([Case].Origin, &apos;Web&apos;) || ISPICKVAL([Case].Origin, &apos;Missed Chat&apos;)  || ISPICKVAL([Case].Origin, &apos;Email&apos;))  &amp;&amp; ([Case].Owner:User.FirstName = &apos;IM&apos;) &amp;&amp;  ISPICKVAL([Case].Support_Type__c,&apos;&apos;) &amp;&amp; [Case].Customer_Services_Team__c  = &apos;London CS Team&apos; &amp;&amp; ISPICKVAL([Case].Status, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE([Case].Status) = &apos;On Hold&apos;)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>(ISPICKVAL({!myVariable_current.Origin}, &apos;Web&apos;) || ISPICKVAL({!myVariable_current.Origin}, &apos;Missed Chat&apos;)  || ISPICKVAL({!myVariable_current.Origin}, &apos;Email&apos;))  &amp;&amp; ({!myVariable_current.Owner:User.FirstName} = &apos;IM&apos;) &amp;&amp;  ISPICKVAL({!myVariable_current.Support_Type__c},&apos;&apos;) &amp;&amp; {!myVariable_current.Customer_Services_Team__c}  = &apos;London CS Team&apos; &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE({!myVariable_current.Status}) = &apos;On Hold&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISPICKVAL([Case].Origin, &apos;Web&apos;) || ISPICKVAL([Case].Origin, &apos;Missed Chat&apos;)  || ISPICKVAL([Case].Origin, &apos;Email&apos;))  &amp;&amp; ([Case].Owner:User.FirstName = &apos;IM&apos;) &amp;&amp;  ISPICKVAL([Case].Support_Type__c,&apos;&apos;) &amp;&amp; [Case].Customer_Services_Team__c  = &apos;London CS Team&apos; &amp;&amp; ISPICKVAL([Case].Status, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE([Case].Status) = &apos;On Hold&apos;)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(ISPICKVAL({!myVariable_old.Origin}, &apos;Web&apos;) || ISPICKVAL({!myVariable_old.Origin}, &apos;Missed Chat&apos;)  || ISPICKVAL({!myVariable_old.Origin}, &apos;Email&apos;))  &amp;&amp; ({!myVariable_old.Owner:User.FirstName} = &apos;IM&apos;) &amp;&amp;  ISPICKVAL({!myVariable_old.Support_Type__c},&apos;&apos;) &amp;&amp; {!myVariable_old.Customer_Services_Team__c}  = &apos;London CS Team&apos; &amp;&amp; ISPICKVAL({!myVariable_old.Status}, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE({!myVariable_old.Status}) = &apos;On Hold&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
(ISPICKVAL([Case].Origin, &apos;Web&apos;) || ISPICKVAL([Case].Origin, &apos;Missed Chat&apos;)  || ISPICKVAL([Case].Origin, &apos;Email&apos;))  &amp;&amp; ([Case].Owner:User.FirstName = &apos;IM&apos;) &amp;&amp;  ISPICKVAL([Case].Support_Type__c,&apos;&apos;) &amp;&amp; [Case].Customer_Services_Team__c  = &apos;CAIRO CS TEAM&apos; &amp;&amp; ISPICKVAL([Case].Status, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE([Case].Status) = &apos;On Hold&apos;)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>
(ISPICKVAL({!myVariable_current.Origin}, &apos;Web&apos;) || ISPICKVAL({!myVariable_current.Origin}, &apos;Missed Chat&apos;)  || ISPICKVAL({!myVariable_current.Origin}, &apos;Email&apos;))  &amp;&amp; ({!myVariable_current.Owner:User.FirstName} = &apos;IM&apos;) &amp;&amp;  ISPICKVAL({!myVariable_current.Support_Type__c},&apos;&apos;) &amp;&amp; {!myVariable_current.Customer_Services_Team__c}  = &apos;CAIRO CS TEAM&apos; &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE({!myVariable_current.Status}) = &apos;On Hold&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
(ISPICKVAL([Case].Origin, &apos;Web&apos;) || ISPICKVAL([Case].Origin, &apos;Missed Chat&apos;)  || ISPICKVAL([Case].Origin, &apos;Email&apos;))  &amp;&amp; ([Case].Owner:User.FirstName = &apos;IM&apos;) &amp;&amp;  ISPICKVAL([Case].Support_Type__c,&apos;&apos;) &amp;&amp; [Case].Customer_Services_Team__c  = &apos;CAIRO CS TEAM&apos; &amp;&amp; ISPICKVAL([Case].Status, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE([Case].Status) = &apos;On Hold&apos;)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>
(ISPICKVAL({!myVariable_old.Origin}, &apos;Web&apos;) || ISPICKVAL({!myVariable_old.Origin}, &apos;Missed Chat&apos;)  || ISPICKVAL({!myVariable_old.Origin}, &apos;Email&apos;))  &amp;&amp; ({!myVariable_old.Owner:User.FirstName} = &apos;IM&apos;) &amp;&amp;  ISPICKVAL({!myVariable_old.Support_Type__c},&apos;&apos;) &amp;&amp; {!myVariable_old.Customer_Services_Team__c}  = &apos;CAIRO CS TEAM&apos; &amp;&amp; ISPICKVAL({!myVariable_old.Status}, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE({!myVariable_old.Status}) = &apos;On Hold&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISPICKVAL([Case].Origin, &apos;Web&apos;) || ISPICKVAL([Case].Origin, &apos;Missed Chat&apos;)  || ISPICKVAL([Case].Origin, &apos;Email&apos;))  &amp;&amp; ([Case].Owner:User.FirstName = &apos;IM&apos;) &amp;&amp;  ISPICKVAL([Case].Support_Type__c,&apos;&apos;) &amp;&amp; [Case].Customer_Services_Team__c  = &apos;Turkey CS Team&apos; &amp;&amp; ISPICKVAL([Case].Status, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE([Case].Status) = &apos;On Hold&apos;)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>(ISPICKVAL({!myVariable_current.Origin}, &apos;Web&apos;) || ISPICKVAL({!myVariable_current.Origin}, &apos;Missed Chat&apos;)  || ISPICKVAL({!myVariable_current.Origin}, &apos;Email&apos;))  &amp;&amp; ({!myVariable_current.Owner:User.FirstName} = &apos;IM&apos;) &amp;&amp;  ISPICKVAL({!myVariable_current.Support_Type__c},&apos;&apos;) &amp;&amp; {!myVariable_current.Customer_Services_Team__c}  = &apos;Turkey CS Team&apos; &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE({!myVariable_current.Status}) = &apos;On Hold&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISPICKVAL([Case].Origin, &apos;Web&apos;) || ISPICKVAL([Case].Origin, &apos;Missed Chat&apos;)  || ISPICKVAL([Case].Origin, &apos;Email&apos;))  &amp;&amp; ([Case].Owner:User.FirstName = &apos;IM&apos;) &amp;&amp;  ISPICKVAL([Case].Support_Type__c,&apos;&apos;) &amp;&amp; [Case].Customer_Services_Team__c  = &apos;Turkey CS Team&apos; &amp;&amp; ISPICKVAL([Case].Status, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE([Case].Status) = &apos;On Hold&apos;)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(ISPICKVAL({!myVariable_old.Origin}, &apos;Web&apos;) || ISPICKVAL({!myVariable_old.Origin}, &apos;Missed Chat&apos;)  || ISPICKVAL({!myVariable_old.Origin}, &apos;Email&apos;))  &amp;&amp; ({!myVariable_old.Owner:User.FirstName} = &apos;IM&apos;) &amp;&amp;  ISPICKVAL({!myVariable_old.Support_Type__c},&apos;&apos;) &amp;&amp; {!myVariable_old.Customer_Services_Team__c}  = &apos;Turkey CS Team&apos; &amp;&amp; ISPICKVAL({!myVariable_old.Status}, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE({!myVariable_old.Status}) = &apos;On Hold&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
(ISPICKVAL([Case].Origin, &apos;Web&apos;) || ISPICKVAL([Case].Origin, &apos;Missed Chat&apos;)  || ISPICKVAL([Case].Origin, &apos;Email&apos;))  &amp;&amp; ([Case].Owner:User.FirstName = &apos;IM&apos;) &amp;&amp;  ISPICKVAL([Case].Support_Type__c,&apos;&apos;) &amp;&amp; [Case].Customer_Services_Team__c  = &apos;Saudi CS Team&apos; &amp;&amp; ISPICKVAL([Case].Status, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE([Case].Status) = &apos;On Hold&apos;)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>
(ISPICKVAL({!myVariable_current.Origin}, &apos;Web&apos;) || ISPICKVAL({!myVariable_current.Origin}, &apos;Missed Chat&apos;)  || ISPICKVAL({!myVariable_current.Origin}, &apos;Email&apos;))  &amp;&amp; ({!myVariable_current.Owner:User.FirstName} = &apos;IM&apos;) &amp;&amp;  ISPICKVAL({!myVariable_current.Support_Type__c},&apos;&apos;) &amp;&amp; {!myVariable_current.Customer_Services_Team__c}  = &apos;Saudi CS Team&apos; &amp;&amp; ISPICKVAL({!myVariable_current.Status}, &apos;New&apos;) &amp;&amp; NOT((PRIORVALUE({!myVariable_current.Status}) = &apos;On Hold&apos;))</expression>
    </formulas>
    <interviewLabel>Trigger_Assignment_Rule-41_InterviewLabel</interviewLabel>
    <label>IMSC_Trigger Assignment Rule</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Case Owner - Dubai</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Dubai_CS_Queue_Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4P000003zK6XUAU</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Case Owner - AMS</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>AMS_CS_Queue_Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4P000004j1XHUAY</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Case Owner - LNDN</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>LNDN_CS_Queue_Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4P000004j1XRUAY</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Case Owner - Cairo</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Cairo_CS_Queue_Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4P000004j1XMUAY</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Case Owner - Turkey</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Turkey_CS_Queue_Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4P000005b15mUAA</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Case Owner - Saudi</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Saudi_CS_Queue_Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4P000003zK6ZUAU</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
